header.header
    .header__social
        .social-icons            
            +social-icon("social-icons__link", "instagram.svg", "instagram", "social-icons__img-instagram")
            +social-icon("social-icons__link", "twitter.svg", "twitter", "social-icons__img-twitter")
            +social-icon("social-icons__link", "facebook.svg", "facebook", "social-icons__img-facebook")
    .header__logo
        h1.logo Hipsum Blog
    .header__buttons
        .header__buttons-search
            img(src="./img/icons/search.svg" alt="search" width="26")
        .header__buttons-subscribe
            button.button-rounded Subscribe