header.header
    .header__social
        include ./social-icons.pug
    .header__logo
        h1.logo Hipsum Blog
    .header__buttons
        .header__buttons-search
            img(src="./img/icons/search.svg" alt="search" width="26")
        .header__buttons-subscribe
            button.button-rounded Subscribe