.pagination
    .pagination__recent
        a(href="#").pagination__text-link recent post
    .pagination__current
        a(href="#").pagination__current-link.pagination__current-link--active 1
        a(href="#").pagination__current-link 2
        a(href="#").pagination__current-link 3
    .pagination__older
        a(href="#").pagination__text-link older posts



