+social-icon("social-icons__link social-icons__link--share", "whatsapp.svg", "whatsapp", "social-icons__img-whatsapp")
+social-icon("social-icons__link social-icons__link--share", "instagram.svg", "instagram", "social-icons__img-instagram social-icons__img-instagram--share")
+social-icon("social-icons__link social-icons__link--share", "twitter.svg", "twitter", "social-icons__img-twitter social-icons__img-twitter--share")
+social-icon("social-icons__link social-icons__link--share", "facebook.svg", "facebook", "social-icons__img-facebook social-icons__img-facebook--share")