.social-icons
    include ../mixins/mixins.pug
    +social-icon("social-icons__link", "#", "./img/icons/social/instagram.svg", "instagram", "social-icons__img--instagram")
    +social-icon("social-icons__link", "#", "./img/icons/social/twitter.svg", "twitter-icon", "social-icons__img--twitter")
    +social-icon("social-icons__link", "#", "./img/icons/social/facebook-f.svg", "facebook-icon", "social-icons__img--facebook")