.copyright {
    padding: 23px 0;
    background-color: rgb(232, 235, 238);
    text-align: center;
}

.copyright__text {
    font-size: 14px;
    color: rgb(183, 186, 190);
    line-height: 1;      
}
  