.social-icons{
    display: flex;
    align-items: center;
}
.social-icons__link{
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.social-icons__img--instagram {
    width: 22px;
}
.social-icons__img--twitter {
    width: 25px;
}
.social-icons__img--facebook {
    width: 14px;
}
