extends ../layouts/master-page.pug
block variables
    - var titlePage = "Блог";
block head
    link(href="https://fonts.googleapis.com/css?family=Exo+2:900|Montserrat:400,400i,500,700|Playfair+Display&display=swap&subset=cyrillic" rel="stylesheet")
block header
    include ../sections/header.pug
block main
    main.main
    include ../sections/main.pug        
block footer
    include ./../sections/footer.pug

