extends ../layouts/master-page.pug
block variables
    - var titlePage = "Блог";
block head
    link(href="https://fonts.googleapis.com/css?family=Exo+2:900|Montserrat:400,400i,500,700|Playfair+Display&display=swap&subset=cyrillic" rel="stylesheet")
block header
    include ../sections/header.pug
block main
    main.main
        .container
            .row
                .col-9
                    include ./../sections/posts.pug               
                    include ./../sections/pagination.pug          
                .col-3
                    include ./../sections/recent-posts.pug         
                    include ./../sections/popular-posts.pug         


block footer
    footer.footer
